.password-container {
    position: relative;
}

.password-container input{
    width: 100%;
}

.password-container span{
    position: absolute;
    top: 45%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-container span:hover {
    opacity: 0.5;
}