/* Chat window styles */
.App {
  position: relative;
  font-family: 'Nunito', sans-serif;
}

.main-window {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  height: 100vh;
}

input::placeholder {
  color: #999;
  font-style: italic;
  font-size: 12px;
  line-height: 12px;
}