.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.message .info {
    padding: 5px;
    color: grey;
    font-size: 12px;
}

.message-sent .info {
    align-self: flex-end;
}

