/* Chat messages styles */
.chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.chat-messages::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
    height: 8px; /* Set the height of the scrollbar */
}

.chat-messages::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Set the background color of the scrollbar track */
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: #555; /* Set the background color of the scrollbar thumb */
    border-radius: 5px; /* Round the edges of the scrollbar thumb */
}

/* Message styles */
.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.message .info {
    padding: 5px;
    color: grey;
    font-size: 12px;
}

.message-sent .info {
    align-self: flex-end;
}

/* Sender styles */
.message-sender {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
}

/* Content styles */
.message-content {
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 12px;
    color: black;
    max-width: 70%;
    align-self: flex-start;
    cursor: pointer;
    position: relative;
}

.message-content.pending {
    opacity: 0.2;
}

/* Received message styles */
.message-sent .message-content {
    background-color: #007aff;
    color: white;
    align-self: flex-end;
}

.message-sent .message-sender {
    align-self: flex-end;
}

.status-text {
    display: flex;
}

.status-text > span {
    font-size: 14px;
    margin: auto;
    color: gray;
    font-weight: bold;
}

#message-options-popover {
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    z-index: 1;
}

/* Popover menu styles */
.popover-header {
    background-color: #f6f7f9;
    border-bottom: none;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}

.popover-body {
    padding: 0;
}

.popover-body button {
    width: 100%;
    text-align: left;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    background: none;
    color: #4b4f56;
    cursor: pointer;
}

.popover-body button:hover {
    background-color: #f6f7f9;
}
