.user-list {
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    height: calc(100% - 71px);
}

.user-list .search-bar {
    padding: 0 15px;
}

.user-list .search-bar input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    border-radius: 20px;
    border: none;
    background-color: #e4e6eb;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.user-list .online-count {
    font-size: 14px;
    color: #65676b;
    margin-bottom: 15px;
    padding: 0 15px;
}

.user-list .online-count .count {
    font-weight: 600;
}

.user-list ul {
    list-style: none;
    padding: 0 15px;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.user-list ul::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
    height: 8px; /* Set the height of the scrollbar */
}

.user-list ul::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Set the background color of the scrollbar track */
}

.user-list ul::-webkit-scrollbar-thumb {
    background-color: #555; /* Set the background color of the scrollbar thumb */
    border-radius: 5px; /* Round the edges of the scrollbar thumb */
}