/* Content styles */
.message-content {
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 12px;
    color: black;
    max-width: 70%;
    align-self: flex-start;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.message-content.pending {
    opacity: 0.2;
}

.message-content.updated {
    background-color: #fcecbd !important;
    position: relative;
    color: black !important;
}

.message-content.updated:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fcecbd;
    opacity: 0;
    z-index: -1;
    animation: highlight 1s ease-out forwards;
}

@keyframes highlight {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Received message styles */
.message-sent .message-content {
    background-color: #007aff;
    color: white;
    align-self: flex-end;
}

.message-sent .message-sender {
    align-self: flex-end;
}

#message-options-popover {
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    z-index: 1;
}

/* Popover menu styles */
.popover-header {
    background-color: #f6f7f9;
    border-bottom: none;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}

.popover-body {
    padding: 0;
}

.popover-body button {
    width: 100%;
    text-align: left;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    background: none;
    color: #4b4f56;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popover-body button:hover {
    background-color: #f6f7f9;
}